@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: black;
    text-align: center;
    padding-top: 2.2rem;
    padding-bottom: 1rem;
}

.title span {
    color: #E7272D;
}

.recipe img {
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.recipe img:hover {
    opacity: 0.7;
    background-color: black;
}


.submut-btn {
    border: 2px solid rgba(216, 216, 216, 0.79);
    padding: 1rem 3rem;
    border-radius: 50px;
    background-color: white;
    transition: all 0.2s;
    font-size: 18px;
    color: #E7272D;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

.submut-btn:hover {
    background-color: #E7272D;
    border: 2px solid #E7272D;

    color: white;
}