@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.title {
    font-family: 'Poppins', sans-serif;
    color: #E7272D;
}

.nav-content {
    box-shadow: 1px 2px 5px rgb(184, 184, 184);
    z-index: 10;
    position: sticky;
    top: 0;
}

.navbar-container {
    background-color: #F9DB06;
}

.navbar-btn {
    background-color: #F9DB06;
}

.search-box {
    background-color: #F9DB06;
}

.navItems {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding-left: 15px;
}

.navItems.active {
    color: #E7272D;
}